/* GENERAL */

body {
    background-color: rgb(40,90,40);
    color: rgb(0,0,0);
    font-family: 'Playfair Display', serif;
}

h0 {
    font-family: 'Playfair Display', serif;
    font-size: 58pt;
    line-height: 58pt;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:20px;
    font-style: italic;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 35pt;
    line-height: 42pt;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: white;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 24pt;
    line-height: 26pt;
    text-align: center;
    margin-top: 5px;
    font-style: italic;
}

h4 {
    font-family: 'Playfair Display', serif;
    font-size: 18pt;
    line-height: 22pt;
    text-align: center;
    margin-top: 0px;
    font-style: italic;
    color: white;
}

.price {
    font-family: 'Playfair Display', serif;
    font-size: 15pt;
    font-style: italic;
}

s1 {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    line-height: 30px;
    font-style: italic;
    margin-bottom: 15px;
}

.row {
    width:100%;
    margin-left:0px;
    background-color: rgb(40,90,40);  /* green */
}

.shop_row {
    color: black!important;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color:white;
}

.tube_row {
    color:white;
    padding-bottom: 30px;
    padding-top: 30px;
}

.black_text {
    color:black;
}

.bg1 {
    background-color: rgb(40,90,40);  /* green */
    color: rgb(255,250,250);          /* white */
}

.bg2 {
    background-color: rgb(40,90,40);  /* green */
    color: rgb(255,250,250);          /* white */
}

/* NAVBAR and TOP OF THE PAGE */

.navbar-dp {
    float:right;
    margin-bottom: none;
    padding-top:10px;
    font-style:normal;
}

.navbar-mobile {
    display:none;
}
.navbar-mobile-fig {
    display:none;
}


.navbrand {
    color:white;
    line-height:0px;
    padding-bottom:5px;
    padding-top:20px;
    margin-bottom:0px;
    border:0px;
    font-size:23pt;
    font-family: 'Playfair Display', serif;
    float:right;
}

.navbrand-sub {
    color:white;
    line-height:0px;
    padding-bottom:5px;
    padding-top:25px;
    margin-bottom:0px;
    border:0px;
    font-size:16pt;
    font-family: 'Playfair Display', serif;
    float:right;
}

.container-fluid {
    padding-left:0px;
}

ul li a.black {
    color:white !important;
    font-family: 'PT Sans';
    padding-top:20px;
    font-weight:bold;
    line-height:30px;
    padding-left:20px;
    padding-right:25px;
}

#black {
    color:rgb(0,0,0);
    padding-top:20px;
    font-weight:bold;
    line-height:30px;
}

.black:hover {
    text-decoration: underline !important;
    text-decoration-color: rgb(40,90,40) !important;
}

.navbar {
    z-index: 3;
    border-style: none;
    margin-bottom: 20px;
    padding-bottom: 15px;
    top:30px;
    width:100%;
    position:fixed!important;
    box-shadow: 3px 3px 3px darkgrey;
    background-color: rgb(40,90,40);  /* green */
}


#topline {
    z-index: 3;
    background-color: rgb(40,90,40);  /* green */
    color: rgb(255,250,250);          /* white */
    height: 30px;
    vertical-align:text-bottom;
    position: fixed;
    top:0px;
    width:100%;
    font-weight:bold;
}

#toptext {
    margin-top:4px;
    margin-left:50px;
    font-family: 'PT Sans';
}

#bottomtext {
    margin-top:4px;
    font-style: normal;
}

#nav_height {
    height:90px;
}

.lupe {
    margin-top:10px;
}

/* BREADCRUMB */

.breadcrumb {
    color: rgb(246,246,246);  /* green */
    text-align: left;
    margin-left: 50px;
    font-size: 12px;
    font-weight: bold;
    width:300px;
    background-color: rgb(40,90,40)!important; /*rgb(255,250,250)!important;*/
}

/* FOOTER */

#footer {
    font-family: 'PT Sans';
    background-color: black;
    color: rgb(255,250,250);          /* white */
    text-align:center;
    line-height:10px;
    padding-top:10px;
    width:100%;
}

.footer_link {
    color:rgb(255,250,250);          /* white */
}

.footer_link:hover {
    color:rgb(255,250,250);          /* white */
    text-decoration:underline;
    text-decoration-color:rgb(255,250,250);          /* white */
}

/* MAIN PAGE, PICTURE + HEADER */

.image h0{
    z-index: 1;
    position: absolute;
    bottom: 8%;
    left: 3.5%;
    max-width: 40%;
    /*padding: 20px 20px 20px 20px;*/
    max-height:100%;
    margin-top: -13px; /* 1/2 height */
    text-align: left;
    background: rgb(255,250,250);    /* white */
    opacity: 0.8;
    line-height: 60pt;
}

/* MAIN PAGE, Contact tube */

div p em {
    text-align: center;
}

.rubrique {
    color: black;
    font-family: 'PT Sans';
    font-size:12pt;
    font-style: italic;
}

.button {
    padding: 12px 23px 12px 23px;
    margin: 20px 0px 20px 0px;
    background: rgb(40,90,40);  /* green */
    color: rgb(255,250,250);    /* white */
    font-weight:bold;
    font-size: 12pt;
    font-family: 'PT Sans';
    letter-spacing: 2pt;
    border:0px;
    font-style: normal;
    border-style:solid;
    border-width:1px;
    border-color:white;
}

.arrow {
    background: rgb(246,246,246);
    color:rgb(40,90,40);
    
}

.button:hover {
    font-style: italic;
}

.button_filter {
    padding: 7px 13px 7px 13px;
    margin: 20px 0px 20px 0px;
    background: rgb(40,90,40);  /* green */
    color: rgb(255,250,250);    /* white */
}

.button_filter:hover {
    font-style: italic;
}

/* MAIN PAGE, 3 images in row */

.three_images {
    width: 33.33%;
    padding-bottom: 50px;
    padding-top: 50px;
    float: left;
    padding-left: 10px;
}

.three_images > img {
    padding-bottom: 10px;
}

.image_small {
    margin-bottom: 10px;
}

.cl::after {
    content: "";
    clear: both;
}


figcaption strong {
    padding-bottom: 0;
    font-style: italic;
}
figcaption {
    color: white;
}
/* MAIN PAGE, gallery small */

.gallery_small {
    float: left;
    width: 20%;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 30px;
}

.gallery_small2 {
    float: left;
    width: 27%;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 25px;
}

/* MAIN PAGE, quote */
div h2 em {
    color:  rgb(255,250,250);          /* white */
}

.quotes {
    font-size:200px;
    color:  rgb(255,250,250);          /* white */
    line-height:1;
}

.center_column {
    text-align: center;
}

/* MAIN PAGE, know how */
.two_images {
    width: 50% !important;
    padding-bottom: 50px !important;
    padding-top: 50px !important;
    float: left !important;
    padding-left:15px !important;
}

.two_images_insta {
    padding-bottom: 50px !important;
    padding-top: 50px !important;
    float: left !important;
    padding-left:15px !important;
    max-width:50%;
}

.two_images_kh {
    width: 50%;
    padding-bottom: 50px !important;
    padding-top: 50px !important;
    float: left !important;
    padding-left:15px !important;
    height:500px;
}

.two_images_kh > img {
    max-width: 450px !important;
    max-height:244px !important;
}

/* MAIN PAGE, #derpolsterer */

.four_images {
    width: 24%;
    padding-left:5px;
    padding-bottom: 50px;
    float: left;
    height:400px;
}

.four_images_shop {
    width: 25%;
    margin-bottom: 50px;
    float: left;
    height: 600px;
    padding-left:50px;
    max-width:275px;   
}

.four_images_pt {
    width: 25%;
    padding-left:5px;
    padding-bottom: 0px;
    float: left;
    height:550px;
}

.four_images_shop_s {
    width: 25%;
    margin-bottom: 50px;
    float: left;
    height: 500px;
    padding-left:50px;
    max-width:275px;
}

.col-sm-12 {
    padding-left:0;
    padding-right:0;
}

.col-sm-8 > .four_images_shop > iframe {
    height: 500px !important;
    line-height:500px!important;
    vertical-align:middle;
}

.col-sm-8 > .four_images_shop_s > iframe {
    height: 500px !important;
    line-height:500px!important;
    vertical-align:middle;
}

.seven_images {
    width: 14%;
    padding-bottom: 50px;
    padding-top: 50px;
    float: left;
}

.image_row {
    padding:20px;
    margin-bottom: 10px;
}

/* Google Map */

.mapouter{
    position:relative;
    height:500px;
    width:600px;
    margin: 0 auto;

}

.gmap_canvas {
    overflow:hidden;
    height:500px;
    width:600px;
}

/* timeline */

* {
    box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: white; /*rgb(40,90,40);  green */
    top: 25px;
    bottom: 15px;
    left: 31%;
    margin-left: -3px;
}

/* Container around content */
.container[data-descr] {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The squares on the timeline with the years */
.container[data-descr]::after {
    content: attr(data-descr);
    position: absolute;
    font-size: 20px;
    color: rgb(40,90,40);  /* green */
    font-weight:bold;
    width: 25px;
    height: 25px;
    right: -17px;
    padding: 5px 15px 5px 15px;
    background-color: white;
    border: 4px solid rgb(40,90,40);
    top: 15px;
    z-index: 1;
}

/* Place the container to the right */

.right {
    left: 30px;
}

/* Fix the circle for containers on the right side */

.right::after {
    left: -16px;
}

/* The actual content */

.content {
    padding: 20px;
    background-color:     rgb(246,246,246);
    position: relative;
    border-radius: 6px;
    text-align: left;
    margin-left: 20px;
}

ul li.listing {
    padding-bottom:10px;
    font-size:16px;
}
ul  {
    font-style: italic;
}
p {
    font-size: 16px;
    line-height: 20px;
    font-style: italic;
    color: white;
}

/* Image gallery used as lightbox (modal) */

.column:after {
  content: "";
  display: table;
  clear: both;
}


/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white!important;
  position: absolute;
  top: 150px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

.mySlides > img {
    max-width:1200px;
    max-height:640px;
    object-fit: contain;
    background:black;
    padding-top:50px;
}

.mySlides2 > img {
    max-width:1200px;
    max-height:640px;
    object-fit: contain;
    background:black;
    padding-top:50px;
}

/* Hide the slides by default */
.mySlides2 {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 0 0 3px 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.subh1 {
    margin-top:0px;
}

.subimg {
    margin-top:50px;
    margin-bottom:50px;
}

.subp {
    text-align:left;
    margin:0 auto;
    max-width:60%;
    margin-bottom:50px;
}

.subp2 {
    text-align:left;
    margin:0 auto;
    margin-bottom:50px;
}

/* Hide some instagram stuff */
div > .Feedback {
    display:none !important;
}

div > .SocialProof {
    display:none !important;
}

/* Animation of logo flyer */
#animate {
    position: relative;
    background: rgb(40,90,40);
    padding:5px;
}


/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (min-width: 320px) and (max-width: 768px) {
  /*@media screen and (max-width: 600px) {*/
  /* Place the timelime to the left */
  .timeline::after {
    left: 50px;
  }

  #animate {
      display:none;
  }
  
  /* Full-width containers */
  .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
      margin-left:0px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
		    left: 15px;
		}
  
  /* Make all right containers behave like the left ones */
  .right {
      left: 0px;
      right: 0px;
  }
  img {
      max-width: 100%;
      max-height:100%;
      margin-left:15px;
      margin-bottom: 30px;
  }
  p {
      max-width:100%!important;
      margin-left:15px!important;
  }
  .row > .col-sm-8 > .timeline > .right > .content > p {
      width:200px !important;
      max-width:200px !important;
  }
  #meister {
      width: 150px;
      max-width: 150px;
  }
  
  .navbar {
    z-index: 3;
    border-style: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
    top:0px;
    width:100%;
    position:fixed!important;
    box-shadow: 3px 3px 3px darkgrey;
  }
  .navbar-brand {
      display:none;
  }
  .navbar-mobile-fig {
      display:block;
      
  }
  .navbar-mobile {
      display:block;
      font-size:8pt;
      color:white;
      margin-left:30px;
      margin-top:7px;
  }
  h0 {
      font-size:10pt;
      padding:0px;
      line-height:10pt!important;
      margin-left:20px;
      padding-top:5pt;
      padding-left:5pt;
      padding-bottom:5pt;
  }
  .gallery_index {
      margin-left:10px;
      margin-top:0px;
      width:100%;
      margin-right:0px;
  }
  #topline {
      display:none;
  }
  #nav_height {
      height:30px;
  }
  .navbar-default {
      float:left;
      position:fixed!important;
  }
  .container-fluid {
      padding-left:0px;
  }
  .tube_row {
      margin-top:0px;
      color:white;
  }
  h1 {
      margin-top:0px;
      font-size: 30pt;
      line-height: 35pt;
      margin-left:15px;
      hyphens:  manual;

  }

  .button {
      margin-left:20px;
  }
  .three_images {
    width:90%;
    padding-bottom: 0px;
    padding-top: 50px;
    float: none;
    padding-left: 10px;
  }
  .gallery_small2 {
      float: left;
      width: 70%;
      padding-bottom: 50px;
      padding-top: 50px;
      padding-left: 30px;
  }
  .arrow {
      padding: 12px 2px 12px 2px;
      margin: 20px 0px 20px 15px;
      background: rgb(40,90,40);  /* green */
      color: rgb(255,250,250);    /* white */
      font-weight:bold;
      font-size: 12pt;
      font-family: 'Playfair Display', serif;
      letter-spacing: 2pt;
      border:0px;
  }
  h2 {
      margin-left:10px;
  }
  .two_images {
      float:none!important;
      width: 100%!important;
      padding-bottom: 0px !important;
      padding-top: 50px !important;
      padding-left:0px !important;
  }
  .two_images_insta {
      width:20%!important;
      padding-bottom: 0px !important;
      padding-top: 0px !important;
      float: none !important;
      padding-left:10px !important;
  }

  .breadcrumb {
      margin-left: 15px;
      margin-bottom: 0px;
  }
  .seven_images {
      width: 100%;
      padding-bottom: 0px;
      padding-top: 0px;
  }
  #l_pfeil {
      display:none;
  }
  .four_images {
    width: 100%;
    padding-left:5px;
    padding-bottom: 0px;
    float: none;
    height:350px;
  }
  .four_images_pt {
    width: 50%;
    padding-left:5px;
    padding-bottom: 0px;
    float: none;
    height:600px;
  }
  #neubankfrau {
      width: 100%;
      height: 100%;

  }
  .bg2 {
      margin-left:25px!important;
  }
  .four_images_shop {
    width: 100%;
    margin-bottom: 50px;
    float: none;
    height:550px;
    padding-left:50px;
    max-width:275px;
  }
  .two_images_kh {
    width: 100%;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    float: none !important;
    padding-left:15px !important;
    height:600px;
  }
  .two_images_kh > img {
    max-width: 100% !important;
    max-height:100% !important;
  }
  .vorhernachher {
      display:none;
  }
  #kontakt > .row > .col-sm-6 > .mapouter > .gmap_canvas {
      float:none !important;
      text-align:left !important;
  }
  
  #gmap_canvas {
      width:300px;
      height:100%;
      max-width:300px;
      max-height:100%;
  }
  s1 {
      margin-left:25px;
      display:block;
  }
  .gallery_small {
    float: none;
    width: 80%;
    padding-bottom: 40px;
    padding-top: 0px;
  }
  .subimg {
    margin-top:0px;
    margin-bottom:30px;
  }
  .mapouter{
    position:relative;
    height:500px;
    width:300px;
    margin: 0 auto;
  }
  .gmap_canvas {
      width: 100%;
  }
  iframe {
      width: 400px;
  }
  .image_single {
      display: block;
      margin-right: auto;
  }
  .four_images_shop_s {
    width: 100%;
    margin-bottom: 50px;
    float: none;
    height: 500px;
    padding-left:50px;
    max-width:275px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #politur {
      margin-left:0;
  }


}


/* #################################### */
