<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}
  <title>Der Polsterer ~ Berlin</title>
  {% endblock %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- add bootstrap JS and CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- import google fonts -->
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif" rel="stylesheet">

  <!-- Add additional CSS in static file -->
  {% load static %}
  <!-- twentytwenty is for the before/after slider -->
  <link href="{% static 'css/twentytwenty.css' %}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
  <div class="page_id" id="index">
  <div class="container-fluid">

    <div class="row" id="topline">
      <div class="col-sm-12">
	<p id="toptext">KRANZ@DERPOLSTERER-BERLIN.DE | TEL. 030 417 21 866 | MOBIL 0172 27 64 1</p>
      </div>
    </div>
    
    <div class="row" id="nav_height">
      <div class="col-sm-12">
	{% block navbar %}
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/" style="margin-left:20px;line-height:0px">
		<strong class="navbrand" style="padding-bottom:5px;margin-bottom:0px;border:0px;line-height:0px;float:right">
		  Der Polsterer ~ Berlin
		</strong><br>
		<div style="float:right;font-size:15px;padding-top:0px;margin-bottom:0px;border:0px;line-height:0px">
		  <em class="navbrand">
		    Manfred Kranz
		  </em>
		</div>
	      </a>
	    </div>
	    <ul class="nav navbar-nav navbar-dp">
	      <li><a href="derpolsterer" class="black" id="derpolsterer">DER POLSTERER</a></li>
	      <li><a href="leistungen" class="black" id="leistungen">LEISTUNGEN</a></li>
	      <li><a href="shop" class="black" id="shop">SHOP</a></li>
	      <li><a href="knowhow" class="black" id="knowhow">KNOW-HOW</a></li>
	      <li><a href="partner" class="black" id="partner">PARTNER</a></li>
	      <li><a href="kontakt" class="black" id="kontakt">KONTAKT</a></li>
	      <li>
		<a href="#search" class="black">
		  <i class="fa fa-search"></i>
		  <img src="{% static 'images/lupe.png' %}" width="14px">
		</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	{% endblock %}
      </div>
    </div>

    <main>
	  {% block content %}
	  {% endblock %}
    </main>
  </div>
 
  {% block footer %}

  <footer>
    <div class="row" id="footer">
      <div class="col-sm-12">
	<p id="bottomtext">
	  <a class="footer_link" href="impressum#impressum">IMPRESSUM</a> |
	  <a class="footer_link" href="impressum#agb">AGB</a> |
	  <a class="footer_link" href="impressum#wrb">WIDERRUFSBELEHRUNG</a> |
	  <a class="footer_link" href="impressum#lzb">LIEFER- UND ZAHLUNGSBEDINGUNGEN</a> |
	  <a class="footer_link" href="impressum#cookies">COOKIES</a> |
	  <a class="footer_link" href="impressum#datenschutz">DATENSCHUTZ</a>
	</p>
	<p>
	  <sup>1</sup>Gilt für Lieferungen in folgendes Land: Deutschland. Lieferzeiten für andere Länder und Informationen zur Berechnung des Liefertermins siehe hier: Liefer- und Zahlungsbedingungen. <sup>2</sup> Inkl. MwSt.
	</p>
      </div>
    </div>
  </footer>
  {% endblock %}

  </div>
  <script type="text/javascript" src="{% static 'js/scripts_base_generic.js' %}"></script>
</body>

</html>
