{% extends "base_generic.html" %}
{% load static %}


{% block content %}
<div class="page_id" id="derpolsterer">
  
      <div class="row">
	<div class="col-sm-12">
	  <div class="image">
	    <img src="{% static 'images/front_narrow.png' %}" alt="front store picture" width="100%">
	  </div>
	</div>
      </div>
      
      <div class="row">
	<div class="col-sm-12 breadcrumb">
	  HOME // DER POLSTERER
      	</div>
      </div>

      <div class="row tube_row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8" style="text-align:center">
	  <h1>
	    Firmengeschichte
	  </h1>
	  <s1>
	    Sum ut laboraturior ma dictius endis eicabor ab-
	    oribus recab ius dit eum volut exceria sit
	  </s1>
	  
	  <div class="timeline">
	    <div class="container right" data-descr="2017">
	      <div class="content">
		<p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
	      </div>
	    </div>
	    <div class="container right" data-descr="2006">
	      <div class="content">
		<p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
	      </div>
	    </div>
	    <div class="container right" data-descr="1997">
	      <div class="content">
		<p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
	      </div>
	    </div>
	    <div class="container right" data-descr="1985">
	      <div class="content">
		<p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="col-sm-2"></div>
      </div>
      


      <div class="row tube_row bg1">
	<div class="col-sm-2"></div>
	<div class="col-sm-8" style="text-align:center">
	  <h1>
	    Unsere Galerie
	  </h1>
	  <s1>
	      Eine Auswahl der von uns restaurierten Möbelstücke <br>
	      sowie ein paar Einblicke in unser Ladenlokal.
	  </s1><br>
	  <figure class="three_images cl">
	    <img src="{% static 'images/placeholder.png' %}" alt="antiquitaeten" width="100%" style="margin-bottom:10px;">
	    <figcaption>
	      <strong style="color:rgb(40,90,40);">ANTIQUITÄTEN</strong>
	      <h4>Unrestaurierte Möbel</h4>
	    </figcaption>
	  </figure>
	  <figure class="three_images cl">
	    <img src="{% static 'images/placeholder.png' %}" alt="antiquitaeten" width="100%" style="margin-bottom:10px;">
	    <figcaption>
	      <strong style="color:rgb(40,90,40);">SOFAS, SESSEL & STÜHLE</strong>
	      <h4>Restaurierte Stilmöbel</h4>
	    </figcaption>
	  </figure>
	  <figure class="three_images cl">
	    <img src="{% static 'images/placeholder.png' %}" alt="antiquitaeten" width="100%" style="margin-bottom:10px;">
	    <figcaption>
	      <strong style="color:rgb(40,90,40);">UNSERE WERKSTATT</strong>
	      <h4>Hier arbeiten wir</h4>
	    </figcaption>
	  </figure>
	</div>
	<div class="col-sm-2"></div>
      </div>


      <div class="row tube_row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8" style="text-align:center">
	  <h1>
	    Ihr Experte: Inhaber Manfred Kranz
	  </h1>
	  <s1>
	      Mehr zu unserer Arbeitsweise und unserer Leistungsfähigkeit erfahren Sie in einem <br>
	      persönlichen Beratungsgespräch. Nehmen Sie mit uns Kontakt auf:
	  </s1>
	  <p>
	    <button type="button" class="button" onclick="window.location.href='kontakt'">JETZT KONTAKT AUFNEHMEN</button>
	  </p>
	  <img src="{% static 'images/front_narrow.png' %}" alt="front store picture" width="80%">
  
	</div>
	<div class="col-sm-2"></div>
      </div>     

      <div class="row tube_row bg1">
	<div class="col-sm-2"></div>
	<div class="col-sm-8" style="text-align:center">
	  <h1>
	    #derpolsterer
	  </h1>
	  <h3><em>
	      Wir sehen Sie und hören Ihnen zu. <br>
	      Ganz einfach Fotos auf Instagram hochladen oder twittern, um dabei zu sein.
	  </em></h3>
	  <figure class="four_images cl">
	    <img src="{% static 'images/placeholder.png' %}" alt="antiquitaeten" width="100%">
	  </figure>
	  <figure class="four_images cl">
	    <img src="{% static 'images/placeholder.png' %}" alt="antiquitaeten" width="100%">
	  </figure>
	  <figure class="four_images cl">
	    <img src="{% static 'images/placeholder.png' %}" alt="antiquitaeten" width="100%">
	  </figure>
	  <figure class="four_images cl">
	    <img src="{% static 'images/placeholder.png' %}" alt="antiquitaeten" width="100%">
	  </figure>
	  <p>
	    <button type="button" class="button" target="_blank" onclick="window.location.href='https:www.instagram.com'">INSTAGRAM</button>
	  </p>
	</div>
	<div class="col-sm-2"></div>
      </div>
</div>

<script type="text/javascript" src="{% static 'js/scripts_derpolsterer.js' %}"></script>  
      
{% endblock %}
