{% extends "base_generic.html" %}
{% load static %}


{% block content %}

<div class="page_id" id="shop">

  <div class="row">
    <div class="col-sm-12">
      <div class="image">
	<img src="{% static 'images/front_narrow.png' %}" alt="front store picture" width="100%">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 breadcrumb">
      HOME // SHOP
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" style="text-align:center">
      <h1>
	
      </h1>
      <s1><p>
      </p></s1>
      
    </div>
    <div class="col-sm-2"></div>
  </div>
  
</div>
      
      <script type="text/javascript" src="{% static 'js/scripts_shop.js' %}"></script>  
      
{% endblock %}
